@model BookingWeb.Server.Models.Chuyenxe

<h1 class="h3 mb-2 text-gray-800">Chi Tiết Chuyến Xe</h1>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Thông Tin Chuyến Xe</h6>
    </div>
    <div class="card-body">
        <form method="post" asp-action="UpdateChuyenXe" asp-controller="ChuyenXeAdmin" id="editChuyenXeForm">
            <input value="@Model.IdChuyenXe" type="text" name="IdChuyenXe" />
            <div class="form-group">
                <label for="XeVM">Biển số</label>
                <select name="XeVM.IdXe" class="form-control" id="tenXe" required>
                    <option selected value="@Model.IdXe">@Model.IdXeNavigation.BienSo</option>
                    @foreach (var xe in ViewBag.XeList)
                    {
                        if(@Model.IdXe != xe.IdXe)
                        {
                            <option value="@xe.IdXe">@xe.BienSo</option>
                        }
                    }
                </select>
            </div>

            <div class="form-group">
                <label for="TuyenDuongVM">Tên Tuyến Đường</label>
                <select name="TuyenDuongVM.IdTuyenDuong" id="tuyenDuong" class="form-control" required>
                    <option value="@Model.IdTuyenDuong" selected>@Model.IdTuyenDuongNavigation?.NoiKhoiHanhNavigation?.IdTinhThanhNavigation?.TenTinhThanh - @Model.IdTuyenDuongNavigation?.NoiDenNavigation?.IdTinhThanhNavigation?.TenTinhThanh</option>
                    @foreach (var tuyenDuong in ViewBag.TuyenDuongList)
                    {

                        if (@tuyenDuong.TrangThai == true)
                        {
                            if (@Model.IdTuyenDuong != tuyenDuong.IdTuyenDuong)
                            {
                                <option value="@tuyenDuong.IdTuyenDuong">
                                    @tuyenDuong.NoiKhoiHanhNavigation?.IdTinhThanhNavigation?.TenTinhThanh -
                                    @tuyenDuong.NoiDenNavigation?.IdTinhThanhNavigation?.TenTinhThanh
                                </option>
                            }
                            
                        }
                    }
                </select>
            </div>
            <div class="form-group">
                <label for="ThoiGianKh">Thời gian khởi hành(Dự kiến)</label>
                <input type="time" class="form-control" id="thoiGianKH" name="ThoiGianKh" required value="@Model.ThoiGianKh">
            </div>

            <div class="form-group">
                <label for="ThoiGianDen">Thời gian kết thúc(Dự kiến)</label>
                <input type="time" class="form-control" id="thoiGianKT" name="ThoiGianDen" required value="@Model.ThoiGianDen">
            </div>
            <div class="form-group">
                <label for="TrangThai">Trang Thái</label>
                <input type="text" class="form-control" id="idTrangThai" name="TrangThai" required value="@Model.TrangThai.ToString()"/>
            </div>
            <button type="submit" class="btn btn-primary">Cập nhật</button>
            <a href="@Url.Action("Index", "ChuyenXeAdmin")" class="btn btn-secondary">Quay lại</a>
        </form>
    </div>
</div>


<script>
    $(document).ready(function () {
        $("#editChuyenXeForm").on('submit', function(e) {
            e.preventDefault();
            var timeStart = $('#thoiGianKH').val();
            var timeEnd = $('#thoiGianKT').val();
            var  idTuyenDuong = $('#tuyenDuong option:selected').val();
            var idXeCheck = $('#tenXe option:selected').val();

            console.log(timeStart);
            console.log(timeEnd);
            console.log(idTuyenDuong);
            console.log("Id xe check " +  idXeCheck);

            $.ajax({
                url: '/api/ChuyenXe/GetByTime',
                type: 'GET',
                dataType: 'json',
                data: {
                    timeStart: timeStart,
                    timeEnd: timeEnd,
                    idTuyenDuong: idTuyenDuong
                },
                success: function (response) {
                    
                    // Truy cập vào mảng $values
                    const data = response.$values;

                    // Kiểm tra nếu data là mảng
                    if (Array.isArray(data)) {
                        // Sử dụng .some() trên mảng data
                        const hasChuyenXe = data.some(function(item) {
                            return item.xeVM.idXe == idXeCheck; 
                        });
                        if (hasChuyenXe) {
                            Swal.fire({
                                icon: 'warning',
                                title: 'Cảnh báo',
                                text: 'Xe đã được sử dụng',
                            });
                        } else {
                            e.target.submit();
                        }
                    } else {
                        console.error('Dữ liệu không hợp lệ:', response);
                    }
                },
                error: function (xhr, status, error) {
                    console.error('Lỗi API:', error);
                }
            });
        })
    });
</script>
