@using BookingWeb.Server.ViewModels
@model BookingWeb.Server.ViewModels.PagedList<BookingWeb.Server.ViewModels.ChuyenXeVM>

@{
ViewData["Title"] = "Tuyến đường";
}
<h1 class="h3 mb-2 text-gray-800">Quản lý lịch trình</h1>
@Html.Partial("./../Shared/Alert.cshtml")

<div class="card shadow mb-4">

    <div class="card-header py-3 d-flex justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">Bảng dữ liệu</h6>

        <!-- Topbar Search -->
        <div class="input-group" style="width: 30%">
            <div class="d-flex">
                <form asp-action="Index"  asp-controller="ChuyenXeAdmin" method="get" class="d-flex">
                    <input type="search" class="form-control bg-light border-0 small me-1" placeholder="Search for..." name="SearchString" aria-label="Search">
                    <button class="btn btn-primary" type="submit">
                        <i class="fas fa-search fa-sm"></i>
                    </button>
                    @*<p>
                        <label>Title: <input type="text" name="SearchString" /></label>
                        <input type="submit" value="Filter" />
                    </p>*@
                </form>
            </div>
            <div class="col-md-4">
                <a asp-action="Index" asp-controller="ChuyenXeAdmin">Xem tất cả</a>
            </div>
        </div>
    </div>

    <div class="card-body">
        <div class="table-responsive">   @*style="max-height: 400px; overflow-y: auto;"*@
            <table class="table table-bordered table-fixed" width="100%" cellspacing="0">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Tên xe - Biển số</th>
                    <th>Bến xe</th>
                    <th>Điểm đi - Thời gian</th>
                    <th>Điểm đến - Thời gian</th>
                    <th>Giá vé</th>
                    <th>Trạng thái</th>
                    <th>Chức Năng</th>
                </tr>
                </thead>
                <tbody id="idTable" >
                @foreach (var cx in Model.Items)
                {
                    <tr>
                        <td >@cx.IdChuyenXe</td>
                        <td>@cx.XeVM?.LoaiXeVM?.TenLoai<br>@cx.XeVM?.BienSo</td>
                        <td>@cx.TuyenDuongVM?.TenBenXe</td>
                        <td>@cx.TuyenDuongVM?.NoiKhoiHanh - @cx.ThoiGianKh</td>
                        <td>@cx.TuyenDuongVM?.NoiDen - @cx.ThoiGianDen</td>
                        <td>@cx.TuyenDuongVM?.GiaVe</td>
                        <td>@(cx.TrangThai == true ? "Hoạt động" : "Không hoạt động")</td>
                        <td>
                            <a href="@Url.Action("Detail", "ChuyenXeAdmin", new { id = cx.IdChuyenXe })" class="btn btn-info">Chi tiết</a>
                            @if (@cx.TrangThai == true)
                            {
                                <a type="submit" class="btn btn-danger" onclick="confirmDeactivate(@cx.IdChuyenXe)">Khóa</a>
                            }
                            else if (@cx.TrangThai == false)
                            {
                                <a type="submit" class="btn btn-success" onclick="confirmDeactivate(@cx.IdChuyenXe)">Mở khóa</a>
                            }
                        </td>
                    </tr>
                }
                </tbody>
            </table>
            <nav class="d-flex justify-content-between">
                <ul class="pagination">
                    @for (int i = 1; i <= Model.TotalPages; i++)
                    {
                        <li class="page-item @(i == Model.CurrentPage ? "active" : "")">
                            <a class="page-link" href="@Url.Action("Index", new { pageNumber = i })">@i</a>
                        </li>
                    }
                </ul>
                <div>
                    <a class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addChuyenXe">Thêm mới</a>
                </div>
            </nav>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="addChuyenXe" aria-hidden="true" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addXeModalLabel">Thêm Chuyến Xe Mới</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form asp-action="AddChuyenXe" asp-controller="ChuyenXeAdmin" method="post">
                    <div class="form-group">
                        <label for="TenLoai">Tên Xe</label>
                        <select name="XeVM.IdXe" class="form-control" required>
                            @foreach (var xe in ViewBag.XeList)
                            {
                                <option value="@xe.IdXe">@xe.BienSo</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="TenLoai">Tên tuyến đường</label>
                        <select name="TuyenDuongVM.IdTuyenDuong" class="form-control" required>
                            @foreach (var tuyenduong in ViewBag.TuyenDuongList)
                            {
                                <option value="@tuyenduong.IdTuyenDuong">@tuyenduong.NoiKhoiHanhNavigation?.IdTinhThanhNavigation?.TenTinhThanh - @tuyenduong.NoiDenNavigation?.IdTinhThanhNavigation?.TenTinhThanh</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="TenLoai">Thời gian khởi hành(Dự kiến)</label>
                        <input type="time" class="form-control" id="thoiGianKH" name="ThoiGianKh" required value="19:30">
                    </div>
                    <div class="form-group">
                        <label for="TenLoai">Thời gian kết thúc(Dự kiến)</label>
                        <input type="time" class="form-control" id="thoiGianKT" name="ThoiGianDen" required value="05:45">
                    </div>
                    <button type="submit" class="btn btn-primary">Thêm</button>
                </form>
            </div>
        </div>
    </div>
</div>


<script src="~/js/admin/search.js"></script>
