@model BookingWeb.Server.Models.Xe

<!-- Areas/Admin/Views/QuanLyNguoiDung/Index.cshtml -->
@{
    ViewData["Title"] = "Chỉnh Sửa Thông Tin Người Dùng";
}

<h1 class="h3 mb-2 text-gray-800">Chỉnh Sửa Thông Tin Người Dùng</h1>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Thông tin người dùng</h6>
    </div>
    <div class="card-body p-3">
        <form asp-action="EditXe" asp-controller="XeAdmin" method="post" >
            <input type="hidden" asp-for="IdXe" />
            <div class="mb-3">
                <label class="form-label">Loại Xe</label>
                <select class="form-control" id="loaiXe5" name="IdLoai" required>
                    @if (!@Model.TinhTrang)
                    {
                        <option value="@Model.IdLoai" selected disabled>@Model.IdLoaiNavigation.TenLoai</option>
                        @foreach(var loai in ViewBag.LoaiXeList)
                        {
                            <option value="@loai.IdLoai">@loai.TenLoai</option>
                        }
                    }

                    
                    @*@if (Model.IdLoaiNavigation.TrangThai == false)
                    {
                        @foreach (var loai in ViewBag.LoaiXeList)
                        {
                            @if (Model.IdLoai != @loai.IdLoai)
                            {
                                <option value="@Model.IdLoai" selected>@Model.IdLoaiNavigation.TenLoai</option>
                            }
                            else
                            {
                                <option value="@loai.IdLoai">@loai.TenLoai</option>
                            }
                        }
                    }
                    else
                    {*@
                    @*@foreach (var loai in ViewBag.LoaiXeList)
                {
                    @if (Model.IdLoai == @loai.IdLoai)
                    {
                        <option value="@Model.IdLoai" selected>@Model.IdLoaiNavigation.TenLoai</option>
                    }
                    else
                    {
                        <option value="@loai.IdLoai">@loai.TenLoai</option>
                    }
                }*@
                </select>
            </div>
            <div class="mb-3">
                <label class="form-label">Biển số</label>
                <input type="text" class="form-control" id="bienSo" asp-for="BienSo">
            </div>
            <div class="form-group float-right">
                <button type="submit" class="btn btn-primary">Submit</button>
                <button type="button" class="btn btn-danger">Cancel</button>
            </div>
        </form>
    </div>
</div>